/* src/components/Navbar.css */

.navbar {
  background: transparent;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky; /* Makes the navbar sticky */
  top: 0;
  z-index: 10;
  padding-top: 1.5%;
  padding-left: .5%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1500px;
  padding: 0 24px;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 70%;
  height: 45px;
  padding-left: 30px;
  border:none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
}

.search-input:focus {
  background-color: #fafafa; /* Change this to your desired color */
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.logo-img{
  height: 50px;
  width: 50px;
}

img{
  height: 40px;
  width: 40px;
}


@media screen and (max-width: 960px) {

  .navbar-search {
    width: 100%;
    order: 2;
  }

  .navbar-logo {
    order: 1;
  }

  .navbar-icons {
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {

  .navbar-container{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .navbar-search{
    padding-left: 5px;
  }
  
  .navbar-icons{
    margin-top: 6px;
  }
  
  img{
    width: 30px;
    height: 30px;
  }

  .logo-img{
    width: 45px;
    height: 45px;
  }

  .navbar-icon{
    margin-left: 5px;
  }
  
  .search-input {
    width: 100%;
  }
}
