/* styles.css */
  
.container {
    position: absolute;
    top: 45px;    /* Distance from top */
    left: 60px;   /* Distance from left */
    right: 0;     /* Stretch to the right edge */
    bottom: 0;    /* Stretch to the bottom edge */
    /* Just for visual reference */
}


/* Order.css */

.orders-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.orders-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.order-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-details {
  font-size: 16px;
}

.order-total {
  font-size: 18px;
  font-weight: bold;
}

.order-items {
  list-style-type: none;
  padding: 0;
}

.order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-item:last-child {
  border-bottom: none;
}

.item-image {
  width: 200px;
  height: 120px;
  margin-right: 15px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
  font-size: 16px;
}

.item-price {
  color: #777;
  font-size: 14px;
}

  