.homeContainer {
  background-image: url('../../image/joe-woods.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
  display: flex;
  flex-direction: column;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    padding: 20px; /* Add padding to ensure content is not flush with the edge on smaller devices */
  }
  
  .form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the max width for larger screens */
    box-sizing: border-box;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    text-align: start;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding does not affect width */
  }
  
  .btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .form {
      padding: 1rem;
    }
    .btn {
      font-size: 0.875rem;
    }
  }
